* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    overflow: hidden;
    margin: 0 auto;
    background-color: #140d3d;
}

header {
    height: 35vh;
}

header .background {
    position: absolute;
    width: 100%;
    height: inherit;
    z-index: -2;
}

header .blank {
    position: absolute;
    top: 30px;
    width: 35%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%);
}

#game-container {
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#wheel-container {
    position: relative;
    width: 100vw;
    height: 50vh;
}

#marker {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

#button {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    header {
        height: 20vh;
    }
    header .blank {
        width: 60%;
    }
}
