* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    overflow: hidden;
    margin: 0 auto;
    background-color: #140d3d;
}

header {
    height: 35vh;
}

header .background {
    position: absolute;
    width: 100%;
    height: inherit;
    z-index: -2;
}

header .blank {
    position: absolute;
    top: 30px;
    width: 35%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%);
}
